:root {
  --btn-color: rgb(46, 46, 49);
  --btn-bg-color: rgb(42, 172, 10);
  --input-hoover: rgb(42, 172, 10);
  --input: rgb(92, 90, 90);
  --error: rgb(199, 55, 55);
  --login-link: rgb(42, 172, 10);
}

.label {
  font-size: 0.7rem;
  display: flex;
  margin-top: 0.5rem;
  justify-content: flex-start;
  font-weight: 600;
  color: var(--input);
}

.complete-register {
  font-size: 0.7rem;
  font-weight: 700;
}

.reg-contain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.account-text {
  font-size: 0.8rem;
}

.reg-contain h2 {
  text-align: center;
  color: rgb(75, 75, 75);
}

.error-message {
  color: var(--error);
  font-size: 0.9rem;
}

#register label {
  display: block;
}

#register input {
  width: 200px;
  height: 20px;
  border: 0.5px solid var(--input);
  border-radius: 3px;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

::placeholder {
  color: rgb(92, 90, 90);
}

#register input:hover {
  border: 0.8px solid var(--input-hoover);
}

.btn {
  margin-top: 0.5rem;
  padding: 0em 1.8em;
  width: 214px;
  border: 1.2px solid var(--btn-color);
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  font-size: 16px;
  transition: 0.3s;
  z-index: 1;
  font-family: inherit;
  color: var(--btn-color);
  cursor: pointer;
}

.btn::before {
  content: '';
  width: 0;
  height: 450%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: var(--btn-bg-color);

  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.btn:hover::before {
  width: 105%;
}

.btn:hover {
  color: white;
  font-weight: 700;
  border: 1.2px solid var(--btn-bg-color);
}

.logo {
  max-width: 60px;
}

.reg-contain p {
  text-align: center;
  color: rgb(75, 75, 75);
}

#register-link {
  font-weight: 800;
}

#register-link:hover {
  cursor: pointer;
  color: var(--login-link);
}
