.list-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  margin-top: 50px;
  /* background-color: red; */
}
.list-key{
  display:flex;
  order:0;
  flex-wrap: wrap;
}
#cont {
  order:1;
  background-color: rgb(39, 39, 47);
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: left;
  margin: 0 0 3% 3%;
  padding: 2%;
  border: 0.5px solid black;
  border-radius: 10px;
  min-width: 200px;
  color: white;
}
.user-container {
  display: flex;
  justify-content: space-between;
  padding: 0 0 1em 0;
  text-transform: uppercase;
  align-items: center;
}
label {
  color: white;
  font-weight: 700;
}

.resp-bd {
  color: rgb(243, 239, 215);
  font-size: 0.9rem;
  font-weight: 800;
  padding-bottom: 10px;
}

.resp-bd-completed{
  text-align: right;
}

#cont-completed{
  order:2;
  background-color: rgb(39, 39, 47);
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: left;
  margin: 0 0 3% 3%;
  padding: 2%;
  border: 0.5px solid black;
  border-radius: 10px;
  min-width: 200px;
  color: white;
  opacity:0.5;
}
.buttons-completed{
  display:none;
}

h4 {
  margin: 0;
}

.checkmark,
.add-file,
.message,
.del-btn {
  width: 25px;
  height: 25px;
  display: flex;
  margin: 5px;
  color: white;
  background-color: aliceblue;
  padding: 0.8rem;
}

.checkmark:hover,
.add-file:hover,
.message:hover,
.del-btn:hover {
  background-color: rgb(114, 121, 128);
}
.service-logo {
  width: 30px;
  color: white;
  margin-right: 30px;
}

.addfile-btn {
  background-color: white;
  border: 0px;
}

.add-file {
  width: 25px;
  height: 25px;
  display: flex;
}

.buttons-service {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  /* margin: 20px 20px; */
  cursor: pointer;
}

#avatar {
  background-color: white;
  margin-right: 20px;
  border-radius: 100%;
  padding: 5px;
  width: 20px;
  margin-bottom: 5px;
}
