.container-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-error-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.error-img {
  width: 500px;
}

.error-text {
  text-decoration: none;
}

.error-text:hover {
  color: red;
}
