#top-bar {
  border-bottom: 1px solid #ccc;
  padding: 10px 50px 10px 50px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}
/* 
#top-bar img {
  max-width: 30px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-right: 50px;
} */

.logo {
  width: 30px;
}

.profileImg {
  border: 2px solid black;
  border-radius: 100%;
  width: 30px;
  cursor: pointer;
}

#top-bar span {
  padding-left: 50px;
}

#top-bar a {
  display: inline-block;
  margin: 3px;
  color: black;
  text-decoration: none;
}
#top-bar a:hover {
  font-weight: 600;
  color: rgb(42, 172, 10);
}

#top-bar a.active {
  border-bottom: 1px solid #ccc;
}

#profile {
  position: relative;
  display: inline-block;
}

.menu {
  list-style: none;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  margin-left: -120px;
  border: 1px solid black;
  text-align: left;
  padding: 20px;
}

.li-menu {
  padding: 10px;
}

#profile:hover .menu {
  display: block;
  cursor: pointer;
}

.li-menu:hover {
  background-color: rgb(42, 172, 10);
  /* font-size: 100%; */
  color: white;
}
